$button-primary-padding: 2vh 6vw;
$button-default-border-radius: 2vw;
$button-default-border-width: 6px;
$button-default-box-shadow: -6px -8px 0px 0px;
$button-default-font-size: 3vw;
$button-default-font-weight: 500;