$button-primary-padding: 2vh 6vw;
$button-secondary-padding: 4vw 4vw;
$button-default-border-radius: 2vw;
$button-default-border-width: 6px;
$button-default-box-shadow: -6px -8px 0px 0px;
$button-default-font-size: 3vw;
$button-default-font-weight: 500;
$button-secondary-box-shadow: -8px -10px 0px 0px;
$button-secondary-inner-shadow: 0px 0px 12px 0px;