$button-primary-padding: 20px 72px;
$button-primary-padding-small: 12px 60px;
$button-secondary-padding: 48px 48px;
$button-secondary-padding-small: 40px 40px;
$button-default-border-radius: 32px;
$button-default-border-radius-small: 24px;
$button-default-border-width: 6px;
$button-default-box-shadow: -6px -8px 0px 0px;
$button-default-font-size: 3vw;
$button-default-font-weight: 500;
$button-secondary-box-shadow: -8px -10px 0px 0px;
$button-secondary-inner-shadow: 0px 0px 12px 0px;
