@use '../abstracts/' as *;

.lev-response-row {
  width: 100%;
  &.linear-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .response-container {
      display: flex;
      width: calc(25% - 30px);
      min-width: 150px;
      max-width: 200px;
      aspect-ratio: 1;
      font-size: $font-size-xxl;
      font-weight: $font-weight-dark;
      color: $txt-white;
      justify-content: center;
      align-items: center;

      @include respond-to('medium') {
        display: flex;
        width: calc(25% - 10px);
        aspect-ratio: 1;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
        color: $txt-primary;
        justify-content: center;
        align-items: center;
      }
      @include respond-to('small') {
        display: flex;
        width: calc(25% - 10px);
        aspect-ratio: 1;
        font-size: $font-size-m;
        font-weight: $font-weight-normal;
        color: $txt-secondary;
        justify-content: center;
        align-items: center;
      }

      &--small {
        @extend .response-container;
        max-width: 150px;
      }
    }
  }
}
