/* CSS Document */

.jspsych-display-element {
  * {
    all: revert;
    font-family: 'Source Sans Pro', Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  }
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  /* jsPsych progress bar */

  #jspsych-progressbar-container {
    color: #555;
    border-bottom: 1px solid #dedede;
    background-color: #f9f9f9;
    margin-bottom: 1em;
    text-align: center;
    padding: 8px 0px;
    width: 100%;
    line-height: 1em;
  }
  
  #jspsych-progressbar-container span {
    font-size: 14px;
    padding-right: 14px;

    #jspsych-progressbar-outer {
      background-color: #eee;
      width: 50%;
      margin: auto;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

      #jspsych-progressbar-inner {
        background-color: #aaa;
        width: 0%;
        height: 100%;
      }
    }
  }


  .jspsych-content-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    #stimulus-container {
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      width: 70vw;
      height: 40vh;
      // width: 100%
      // height: 100px; /* You can adjust this */

      .stimulus {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    #jspsych-html-multi-response-btngroup {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .response-btn {
        background-color: rgb(1, 152, 1);
        width: 10vw;
        Height: 10vw;
        cursor: pointer;
      }
    }

  }


}
