@use '../abstracts/' as *;

.hf-parent-container {
  width: 100%;
  max-width: 900px;
}

.hf-stimulus-container {
  border: 3px solid $border-accent;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 40vh;
  margin-top: 16px;

  .stimulus-left {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    @include respond-to('small') {
      padding-left: 12px;
      padding-right: 12px;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .stimulus-right {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    @include respond-to('small') {
      padding-left: 12px;
      padding-right: 12px;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.haf-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 8px;
  
  img {
    width: 150px;
    max-width: 40%;
  }

  @include respond-to('small') {
    img {
      width: 80px;
    }
  }
}

.hf-fixation-container {
  border: 3px solid $border-accent;
  border-radius: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

  .fixation {
    font-size: 7vh;
  }
}
