// Will need to namespace classes and id's
@font-face {
  font-family: primerRegular;
  src: url(https://storage.googleapis.com/roar-ak/font/primer_print.ttf)
    format("truetype");
}

@font-face {
  font-family: primerBold;
  src: url(https://storage.googleapis.com/roar-ak/font/primer_print_bold.ttf)
    format("truetype");
}

.jspsych-display-element {
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 100%; 
  overflow: hidden; // disable scrolling
  font-family: "Source Sans Pro", Gotham, "Helvetica Neue", Helvetica, Arial,
    "sans-serif";
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  .jspsych-content-wrapper {
    height: 100%;
    width: 100%;

    .jspsych-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #fullscreen {
        width: 80vw;
        text-align: center;
        color: rgba(76, 101, 139, 1);
        font-size: 1.7rem;
      }

      #continue-btn {
        background-color: rgba(76, 101, 139, 1);
        color: white;
        border: none;
        padding: 1.5rem;
        font-size: 2.5rem;
        border-radius: .5rem;
        cursor: pointer;
        margin-top: 2rem;
      }

      #jspsych-fullscreen-btn {
        width: 17vw;
        height: 10vh;
        background-color: rgba(76, 101, 139, 1);
        color: white;
        border-radius: 1rem;
        border: 0rem;
        font-size: 3vw;
        font-weight: bold;
        cursor: pointer;
      }

      .instructions-container {
        text-align: center;
        font-size: 1.5rem;

        .instructions-title {
          text-align: center;
          margin-bottom: 3rem;
        }

        p {
          text-align: left;
          margin: 0 auto;
          max-width: 60vw; 
          line-height: 1.6;
        }

        footer {
          margin-top: 3rem;
        }
      }


      // Multichoice template
      #fixation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 4rem;
      }

      #prompt {
        font-size: 2rem;
        padding-bottom: 2rem;
        text-align: center;
      }
      
      #stimulus {
        padding-bottom: 4rem;
        font-size: 3.5rem;
        margin: 0;
        text-align: center; /* To ensure the text is centered if it wraps to more than one line */
      }

      // 1 x 4 (default)
      .default-layout {
        // 1 x 4 (default)
        display: flex;
        max-width: 100%;
        gap: 1.5rem;

        div {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          max-width: calc(25% + 10px);

          button {
            width: 100%;
            // font-size: clamp(2rem, 4vw, 2.5rem);
            cursor: pointer;
            background-color: rgb(0, 132, 255);
            border: none;
            border-radius: .5rem;
            color: white;
            padding: 1.5rem;
            font-size: 1.5rem;
          }
        }
      }

      // 4 x 1
      .column-layout {
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(300px, 1fr)
        ); /* two columns of equal width */
        gap: 2rem;
        place-items: center;

        div {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          // 100%
          max-width: 50%;

          button {
            width: 100%;
            cursor: pointer;
            background-color: rgb(0, 132, 255);
            border: none;
            border-radius: .5rem;
            color: white;
            padding: 1.5rem;
            font-size: 1.5rem;
          }
        }
      }
      
      // 2 x 2
      .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr; /* two columns of equal width */
        grid-template-rows: 1fr 1fr; /* two rows of equal height */
        gap: 2rem;

        div {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          max-width: 100%;

          button {
            width: 100%;
            cursor: pointer;
            background-color: rgb(0, 132, 255);
            border: none;
            border-radius: .5rem;
            color: white;
            padding: 1.5rem;
            font-size: 1.5rem;
          }
        }
      }

      // pyramid
      .triple-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* three columns of equal width */
        grid-template-rows: auto; /* rows sized according to content */
        gap: 2rem;
      
        div {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          max-width: 100%;
      
          button {
            width: 100%;
            cursor: pointer;
            background-color: rgb(0, 132, 255);
            border: none;
            border-radius: .5rem;
            color: white;
            padding: 1.5rem;
            font-size: 1.5rem;
          }
        }
      
        /* Specific styles for individual buttons */
        .button1 {
          grid-column: 2; /* Centered in the middle column */
          grid-row: 1;
        }
      
        .button2 {
          grid-column: 1; /* First column in the second row */
          grid-row: 2;
        }
      
        .button3 {
          grid-column: 3; /* Third column in the second row */
          grid-row: 2;
        }
      }

      .diamond-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* three columns of equal width */
        grid-template-rows: auto auto; /* three rows, size according to content */
        gap: 2rem;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
      
        div {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          max-width: 100%;
          align-self: start; /* Aligns button content to the start of the grid area */
      
          .math-btn {
            background-color: rgb(0, 132, 255);
            border: none;
            border-radius: .5rem;
            color: white;
            padding: 1.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            width: 100%;
            border: 5px solid transparent;
          }

          #selected-btn {
            background-color: #2200ff; /* Change the background color to indicate selection */
            color: #fff; /* Change the text color for better visibility */
            border: 5px solid #32f718; /* Add a border to highlight the button */
          }
        }
      
        .button1 {
          grid-column: 2; /* Centered in the middle column */
          grid-row: 1;
        }
      
        .button2 {
          grid-column: 1; /* First column */
          grid-row: 1 / 3; /* Spanning from the first row to the third grid line */
          align-self: center; /* Center this button vertically */
        }
      
        .button3 {
          grid-column: 3; /* Third column */
          grid-row: 1 / 3; /* Spanning from the first row to the third grid line */
          align-self: center; /* Center this button vertically */
        }
      
        .button4 {
          grid-column: 2; /* Centered in the middle column */
          grid-row: 2;
        }
      
      }

      .arrow-key-border {
        border: 1px solid black; /* Thin and black border */
        border-radius: 10px; /* Curved corners */
        padding: .5rem !important;
        max-width: 100% !important;

        .arrow-key {
          font-size: 1.5rem;
          margin: 0;
        }
      }



      .disabled-btn {
        background-color: #e0e0e0; /* Gray background */
        color: #a0a0a0; /* Gray text */
        cursor: not-allowed; /* Indicate that the button is not interactive */
        pointer-events: none; /* Prevent all click and hover interactions */
        opacity: 0.6;
      }

      .glowingButton {
        animation: glowing 1300ms infinite;
      }

      @keyframes glowing {
        0% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
        50% {
          background-color: #49e819;
          box-shadow: 0 0 20px #49e819;
        }
        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
      }

      .prompt-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .task-graphic{
          width: 20%;
        }
      }

// ----------------------------------------------------------------------------

      // Math-Egma
      #jspsych-html-slider-response-response{
        width: 100%;
      }

      #jspsych-html-slider-response-stimulus {
        text-align: center;
        margin-bottom: 5rem;
      }

      #slider-btn-container {
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;

        button {
          padding: 1rem;
          background-color: rgb(0, 132, 255);
          color: white;
          border: 5px solid transparent;
          border-radius: .5rem;
          cursor: pointer;
          font-size: 1.5rem;
        }

        #selected-btn {
          background-color: #2200ff; /* Change the background color to indicate selection */
          color: #fff; /* Change the text color for better visibility */
          border: 5px solid #32f718; /* Add a border to highlight the button */
        }
      }



      // .slider-diamond-layout {
      //   margin-top: 10vh;
      //   display: grid;
      //   grid-template-columns: repeat(3, 1fr); /* three columns of equal width */
      //   grid-template-rows: auto auto; /* three rows, size according to content */
      //   gap: 2rem;
      
      //   div {
      //     box-sizing: border-box;
      //     margin: 0;
      //     padding: 0;
      //     max-width: 100%;
      //     align-self: start; /* Aligns button content to the start of the grid area */
      
      //     .math-btn {
      //       background-color: rgb(0, 132, 255);
      //       border: none;
      //       border-radius: .5rem;
      //       color: white;
      //       padding: 1.5rem;
      //       font-size: 1.5rem;
      //       cursor: pointer;
      //       width: 100%;
      //       border: 5px solid transparent;
      //     }
      //   }
      // }

      #jspsych-html-slider-response-next {
        padding: 1rem 3rem;
        color: white;
        background-color: #2ba805;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 1.5rem;
      }

      #replay-btn {
        position: absolute;
        bottom: 80%;
        right: 10%;
        cursor: pointer;
        width: 10vw
      }
    }
  }

  #jspsych-progressbar-container {
    color: #555;
    border-bottom: 1px solid #dedede;
    background-color: #f9f9f9;
    text-align: center;
    padding: 8px 0px;
    width: 100%;
    line-height: 1em;

    span {
      font-size: 14px;
      padding-right: 14px;
    }

    #jspsych-progressbar-outer {
      background-color: #eee;
      width: 50%;
      margin: auto;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

      #jspsych-progressbar-inner {
        background-color: #aaa;
        width: 0%;
        height: 100%;
      }
    }
  }
}